.section{
    display: block;
    position: inherit;
    float: left;
    margin: auto;
    padding: auto;
}

.img.section{
    position: fixed;
    float: right;
    background: none;
    width: 10px;
    height: 15px;
    box-shadow: 10px;
    box-sizing: 15px;
}
.aside{
    position: fixed;
    float: right;
    background: none;
    width: 10px;
    height: 15px;
    box-shadow: 10px;
    box-sizing: 15px;
}
 .aside-summary{
    position: fixed;
    float: right;
    background: none;
    width: 10px;
    height: 15px;
    box-shadow: 10px;
    box-sizing: 15px;
 }

