
body{
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns:auto(header,article,aside,footer);
    padding: auto;
    margin:auto
}
header{
    grid-area:auto;
    height:auto;
    margin:auto;
    padding: auto;
}
article{
    grid-area:auto;
    height:auto;
    margin:auto;
    padding: auto;
}
aside{
grid-area:auto;
height:auto;
    margin:auto;
    padding: auto;
}
footer{
    grid-area:auto;
    height:auto;
    margin:auto;
    padding: auto;
}