.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid black 2px;
  background-color: aliceblue;
  margin: 4rem;
  font-size: 40px;
  padding: 3rem;
  min-width: 28rem;
}
.container input {
  margin-top: 1rem;
  width: 100%;
  min-height: 50px;
}
.button {
  border-radius: 5px;
  border: 1px;
  background-color: burlywood;
  margin-top: 1rem;
  font-size: medium;
}
.button:hover {
  text-decoration: underline 2px;
}
