.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid black 2px;
  background-color: aliceblue;
  margin: 4rem;
  font-size: 40px;
}

.container button {
  border-radius: 5px;
  border: 1px;
  background-color: #deb887;
  margin-top: 1rem;
  font-size: larger;
  margin: 2rem;
}
.container button:hover {
  text-decoration: underline;
  background-color: #e6c79f;
}
