.container {
  padding: 0 2rem;
  font-size: larger;
  text-align: center;
}
.navbar {
  text-align: center;
  background-color: cornsilk;
  padding: 2rem;
  border: solid black 2px;
}
.navbar a {
  margin: 3rem;
  border: solid black 2px;
  padding: 1rem;
}
