.container {
  padding: 0 2rem;
  font-size: larger;
  text-align: center;
}
.navbar {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: #fff8dc;
  padding: 2rem;
  border: solid black 2px;
}
.navbar a {
  border: solid #524d4d25 1px;
  padding: 1rem;
  background-color: #fffbef;
  min-width: 7rem;
}
.navbar a:hover {
  background-color: #e6d7a7;
  text-decoration: underline;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 3rem;
}
.articles {
  margin-top: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c9b59b;
  width: 100%;
}
.create {
  padding: 1rem;
  background-color: #c9cfd0;
  max-width: 20%;
  border: solid #000000 2px;
  margin-bottom: 1rem;
  align-self: flex-end;
}
.create:hover {
  background-color: #7fa7a8;
  text-decoration: underline;
}

.blogs {
  border: solid black 3px;
  background-color: #d5cabc9b;
  display: flex;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
}
.blogs iframe {
  width: 32rem;
  height: 18rem;
  border: black 1px solid;
}
.blogs h3 {
  text-decoration: underline 2px;
}
.contents {
  display: flex;
  justify-content: space-evenly;
}
.contents p {
  margin: 1.5rem;
  max-width: 50%;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.options {
  background-color: #c9b59b;
  border-radius: 2rem;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.options a {
  padding: 1rem;
  background-color: #c9cfd0;
  max-width: 20%;
  border: solid black 2px;
  margin: 0.5rem;
}
.options a:hover {
  background-color: #7fa7a8;
  text-decoration: underline;
}
.links {
  display: flex;
  justify-content: center;
}
